@charset "UTF-8";

/*このCSSファイルはマルチペディア用の親CSSです*/
/*マルチペディア作成時はこのCSSの優先度を一番高くしてください。*/

body {
  font-family: 'Hiragino Kaku Gothic ProN'
}

/*ヘッダーCSS*/

.Br {
  padding-left: 1600px;
  background-color: #f5f5f5;
}

.top_left {
  padding-top: 15px;
  padding-left: 230px;
  background-color: #f5f5f5;
}


#logo {
  margin-left: 40px;
}

#page {
  text-decoration: none;
  background: -moz-linear-gradient(bottom, #e0ffff, #ffffff);
  background: -webkit-linear-gradient(bottom, #e0ffff, #ffffff);
  background: linear-gradient(to top, #e0ffff, #ffffff);
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  color: #000000;
}

#note {
  text-decoration: none;
  background: -moz-linear-gradient(bottom, #e0ffff, #ffffff);
  background: -webkit-linear-gradient(bottom, #e0ffff, #ffffff);
  background: linear-gradient(to top, #e0ffff, #ffffff);
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  color: #000000;
}

#source {
  text-decoration: none;
  background: -moz-linear-gradient(bottom, #e0ffff, #ffffff);
  background: -webkit-linear-gradient(bottom, #e0ffff, #ffffff);
  background: linear-gradient(to top, #e0ffff, #ffffff);
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  color: #000000;
}

#history {
  text-decoration: none;
  background: -moz-linear-gradient(bottom, #e0ffff, #ffffff);
  background: -webkit-linear-gradient(bottom, #e0ffff, #ffffff);
  background: linear-gradient(to top, #e0ffff, #ffffff);
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  color: #000000;
}

/*サイドメニューCSS*/
.side {
  width:200px;
  height:fit-content;
  text-align: left;
  background-color: #f5f5f5;
}

#main_page{
  text-decoration: none;
}

#RecentUp {
  text-decoration: none;
}

#help_cat {
  border-bottom: solid;
  border-width: 1px;
  margin-left:25px;
  margin-right:15px;
}

#Help {
  text-decoration: none;
}

#Notification {
  text-decoration: none;
}

#report {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*メイン部分CSS*/
.content {
  width:fit-content;
  height:fit-content;
  text-align:center;
  margin-left:10px;
}

.info {
  margin-top: 15px;
  border: 2px solid #87cddb;
  border-radius: 10px;
  padding: 5px 200px 5px 200px;
}

.notification {
  margin-top: 8px;
  border: 2px solid #87cddb;
  border-radius: 10px;
}

#no {
  border-bottom: solid;
  margin-left: 20px;
  margin-right: 20px;
}



article {
  display:flex;
}

#hello{
  font-size: 30px;
}

#helloS {
  font-size: 30px;
  text-decoration: none;
}

/*フッターCSS*/
.under_information {
  background-color: #f5f5f5;
}

#p_p{
  text-decoration: none;
  font-size: 12px;
}

#MP_info {
  text-decoration: none;
  font-size: 12px;
}

#Disclaimer {
  text-decoration: none;
  font-size: 12px;
}

#mobile_view {
  text-decoration: none;
  font-size: 12px;
}

#cookie_an {
  text-decoration: none;
  font-size: 12px;
}